.dark-mode-toggle {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  visibility: hidden;

  &:checked + label {
    transform: rotate(360deg);
    background-color: var(--background);

    &:before {
      transform: translateX(17px);
      background-color: white;
    }
  }
}

label {
  display: flex;
  width: 40px;
  height: 22px;
  border: 2px solid;
  border-radius: 99em;
  position: relative;
  transition: transform .75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;

  &:before {
    transition: transform .75s ease;
    transition-delay: .5s;
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--text-primary);
    border-radius: 50%;
    top: 3px;
    left: 3px;
  }
}

@media screen and (max-width: 600px) {
  .dark-mode-toggle > div {
    display: none;
  }
}