.main{
    display: flex;
}
.buttons{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.buttons > button {
    margin: 10px 0;
}
.image {
    display: flex;
    flex-direction: column;

}