.modal-bgr{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(145, 145, 145, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 60vh;
    position: absolute;
}