.movie-desc{
    position: relative;
}
.movie-desc > img{
    max-width: 100%;
    object-fit: contain;
    filter: brightness(0.8);
}
.info{
    max-width: 48%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.desc-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color:var(--background);
    padding: 15px 20px;
    color: var(--text-primary);

}
.desc-container > div:first-child{
    max-width: 48%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-desc__main{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding-top: 15%;
    color: white;
}

.movie-desc__main h2{
    font-size: 3rem;
}
.movie-desc__main h4{
    margin-top: 0px;
    font-size: 2em;
}

