.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--background);
    min-height: 50px;
    padding: 0 15px;
}

.search-box > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-box input {
    border: 2px solid var(--text-primary);
    border-radius: 8px;
    padding: 10px;
    max-width: 60%;
    width: 100%;
}