*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    background: aqua;
    padding: 5px 8px;
    transition: all 0.2s ease-in-out;
    color: black;
    border-radius: 8px;
    text-align: center;
}
a:hover{
    background: #004949;

    color: #ffffff;
}