* {
    box-sizing: border-box;
    margin: 0;
}

.App {
    background-color: var(--background-secondary);
    min-height: 100%;
}

.loading {
    color: var(--text-primary);
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}