.App {

}

button {
    width: 100%;
    max-width: 130px;
    height: 36px;
    border: none;
    background: #1954de;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    align-self: center;
    color: white;
    margin-bottom: 5px;
}

button:hover {
    background: rgba(25, 84, 222, 0.75);
}